div.row.intermediate-container
  div.col-sm-8.col-sm-offset-2
    div.intermediate
      div.row
        div.col-sm-12.logo
          span PrepApp
      div.row
        div.col-sm-12
          span.fa
            i.fa.fa-cog.fa-spin &nbsp;
            | Just a few Seconds! We are loading your Dashboard. 